@model DsiCodeTech.SuPlazaWeb.Contabilidad.Dto.ArticuloDto
@{
    ViewBag.Title = "mostrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <i class="fas fa-tag"></i>
            Artículos: Agregado de impuesto especial sobre producción y servicios
        </div>
        <div class="card-body">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="card-title">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="txt-grp-sm">buscar artículo:</span>
                        <input id="txt_codigo_barras" type="text" class="form-control" aria-label="busqueda de artículos" placeholder="Ingresa el codigo de barras" aria-describedby="txt-grp-sm">
                        <button class="btn btn-outline-secondary" type="button" id="txt-grp-sm">
                            <i class="fas fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Codigo de Barras:</label>
                        @Html.TextBoxFor(model => model.cod_barras, null, new { @class = "form-control form-control-sm", placeholder = "código de barras" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Codigo de Asociado:</label>
                        @Html.TextBoxFor(model => model.cod_asociado, null, new { @class = "form-control form-control-sm", placeholder = "código asociado" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Codigo Interno:</label>
                        @Html.TextBoxFor(model => model.cod_interno, null, new { @class = "form-control form-control-sm", placeholder = "código interno" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">
                            <i class="fas fa-pen-fancy"></i>
                            Descripción:</label>
                            @Html.TextBoxFor(model => model.descripcion_corta, null, new { @class = "form-control form-control-sm", placeholder = "descripción corta" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <label class="form-label">
                            <i class="fas fa-pencil-alt"></i>
                            Descripción:
                        </label>
                        @Html.TextBoxFor(model => model.descripcion, null, new { @class = "form-control form-control-sm", placeholder = "descripción" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Unidad de Medida:</label>
                        @Html.TextBoxFor(model => model.cantidad_um, null, new { @class = "form-control form-control-sm", placeholder = "unidad de medida" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <br />
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            @Html.TextBoxFor(model => model.precio_compra, null, new { @class = "form-control form-control-sm", placeholder = "precio de compra" })
                            
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Utilidad:</label>
                        @Html.TextBoxFor(model => model.utilidad, null, new { @class = "form-control form-control-sm", placeholder = "utilidad" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Precio Venta:</label>
                        @Html.TextBoxFor(model => model.precio_venta, null, new { @class = "form-control form-control-sm", placeholder = "precio venta" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Tipo de Artículo:</label>
                        @Html.TextBoxFor(model => model.tipo_articulo, null, new { @class = "form-control form-control-sm", placeholder = "Tipo de Artículo" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Stock:</label>
                        @Html.TextBoxFor(model => model.stock, null, new { @class = "form-control form-control-sm", placeholder = "Stock" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Stock Minímo:</label>
                        @Html.TextBoxFor(model => model.stock_min, null, new { @class = "form-control form-control-sm", placeholder = "stock minimo" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Stock Máximo:</label>
                        @Html.TextBoxFor(model => model.stock_max, null, new { @class = "form-control form-control-sm", placeholder = "stock maximo" })
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <label class="form-label">Iva:</label>
                        @Html.TextBoxFor(model => model.iva, null, new { @class = "form-control form-control-sm", placeholder = "Iva" })
                    </div>
                </div>
            </div>
            
            <a href="#" class="btn btn-success">Actualizar</a>
        </div>
    </div>
</div>

